/* --- SVG Containers --- */
.responsive-svg-container {

    width: 100%;

    max-width: 1000px;

  }

  @media screen and (max-width: 596px) {

    .responsive-svg-container {

      margin-bottom: 20px;

    }

}

/* Code based on Dufour and Meeks (2024) */

/* --- Filters  --- */
#filters_screen {
    margin: 10px 0px 15px;
    display: flex;
    justify-content: center; /* Centers the buttons horizontally above the chart */
}

.filter {
    min-width: 80px;
    margin: 0 5px;
    padding: 8px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #ffffff; 
    font-weight: 500;
    background-color: #d2691e; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.filter:hover, .filter.active {
    background-color: #ffb347; 
    transition-timing-function: ease-out;
}

.filter.active {
    cursor: default;
    background-color: #ffcc80; 
}

/* --- Scatterplot Tooltip --- */
.tooltip {
    pointer-events: none; /* Stops the tooltip from interfering with hovering over circles */
}